:root {
  /* Primary */
  --soft-red: #fe7866;
  --yellow: #f9d400;
  --dark-desaturated-cyan: #24554a;
  --dark-blue: #19526b;
  --dark-moderate-cyan: #3e7467;

  /* Neutral */
  --very-dark-desaturated-blue: #232f3d;
  --very-dark-grayish-blue: #5a626c;
  --dark-grayish-blue: #808397;
  --grayish-blue: #a7aaae;
  --white: #ffffff;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
}

/* Start of Nav Section */
header {
  font-family: "Barlow", sans-serif;
  color: var(--white);
  position: absolute;
  z-index: 1;
  top: 34px;
  left: 0;
  right: 0;
}
.nav-logo {
  font-weight: 600;
  font-size: 40px;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  margin-left: 40px;
  margin-right: 48px;
}
.nav-main {
  width: 35%;
}
.nav-main ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact {
  border-radius: 30px;
  width: 140px;
  height: 56px;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: var(--white);
}
/* End of Nav Section */
/* Start of Hero Section */
.hero-section {
  width: 1440px;
  height: 800px;
  position: relative;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-box {
  display: flex;
  font-family: "Fraunces", sans-serif;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.75px;
  margin-top: 195px;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 96.54px;
}
/* End of Hero Section */

/* Start of Content Section */
.content-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 600px);
  max-width: 1200px;
}
.content-box {
  width: 720px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 445px;
}

.panel h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  margin-bottom: 36px;
  color: var(--very-dark-desaturated-blue);
}

.panel p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: var(--dark-grayish-blue);
  font-size: 18px;
  line-height: 30px;
}

.panel > .link {
  margin-top: 40px;
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
  position: relative;
}

.panel > .link::before {
  background-color: var(--yellow);
  opacity: 30%;
  content: "";
  position: absolute;
  width: 100px;
  height: 40%;
  bottom: 0;
  z-index: -1;
}
.panel > .link:hover::before {
  opacity: 100%;
}
.content-section .content-box:nth-of-type(4) .link::before {
  background-color: var(--soft-red);
  opacity: 30%;
}
.content-section .content-box:nth-of-type(4) .link:hover::before {
  opacity: 100%;
}

.panel-five {
  background-image: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
}
.panel-five h3 {
  color: var(--dark-desaturated-cyan);
}
.panel-five p {
  color: var(--dark-moderate-cyan);
}
.img-text {
  width: 339px;
  text-align: center;
  margin-bottom: 59px;
}

.img-text h3 {
  font-family: "Fraunces", sans-serif;
  font-size: 28px;
  margin-bottom: 27px;
}

.img-text p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.panel-six {
  background-image: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
}
.panel-six h3 {
  color: var(--dark-blue);
}
.panel-six p {
  color: #19536c;
}
/* End of Content Section */
/* Start of Testimonials Section */

.testimonials-container {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.testimonials-header {
  text-align: center;
  font-family: "Fraunces", sans-serif;
  color: var(--dark-grayish-blue);
  font-size: 20px;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  margin-top: 160px;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: 72px;
  margin-bottom: 60px;
}

.testimonials-text {
  width: 350px;
  margin-bottom: 69px;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 36px;
  color: var(--dark-grayish-blue);
}
.testimonials-name {
  font-family: "Fraunces", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.testimonials-title {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: var(--dark-grayish-blue);
  margin-top: 9px;
}
/* End of Testimonials Section */
/* Start of Gallery Section */
.gallery-section {
    height: 470px;
    display: flex;
    flex-direction: row;
}
/* End of Gallery Section */